@import '../../../styles/generic_styles.scss';

.button {
    color: $white;
    border: none;
    border-radius: 2px;
    text-transform: uppercase; 
}

.button:focus {
    outline: none;
}

.button-red {
    background-color: $red;
}

.button-grey {
    background-color: $grey;
}

.button-white {
    background-color: $white;
    color: $red;
}

.filter-button {
    padding: 4px 20px;
    font-size: 14px;
}

.search-button {
    font-size: 16px;
    padding: 6px 50px;
}
