{
    "parser": "babel-eslint",
    "plugins": [
        "react",
        "import"
    ],
    "env": {
        "browser": true,
        "jest": true
    },
    "rules": {
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "react/jsx-uses-vars": ["error"],
        "import/newline-after-import": ["error", { "count": 1 }],
        "class-methods-use-this": 0
    },
    "extends": [
        "airbnb-base",
        "plugin:react/recommended",
        "plugin:import/react"
    ],
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        }
    }
}