@import '../../styles/generic_styles.scss';

.results-bar {
    display: flex;
    justify-content: space-between;
    padding: 6px $search-header-hpadding;
    box-sizing: border-box;
    background-color: $light-grey;
    font-size: 14px;
    font-weight: bold;

    .results-sorting {
        display: flex;

        .sorting-options {
            display: flex;
            list-style: none;
            margin: 0 0 0 15px;
            padding: 0;

            li {
                cursor: default;
                margin-left: 15px;
            }

            .selected {
                color: $red;
            }
        }
    }
}