$red: #e64242;
$dark-grey: #414141;

$black: #000;
$white: #fff;
$grey: #696868;
$light-grey: #dfdede;
$yellow: #fbff00;

$content-width: 980px;
$content-padding: 30px;

$search-header-height: 220px;
$search-header-hpadding: 70px;
$search-header-vpadding: 25px;

$asset-tile-width: 170px;

$poster-large-width: 248px;
$poster-large-height: 350px;
$poster-medium-width: 200px;
$poster-medium-height: 280px;
