@import '../../styles/generic_styles.scss';

.search-header {
    height: $search-header-height;
    padding: $search-header-vpadding $search-header-hpadding;
    background-color: #444;
    background-blend-mode: multiply;
    background-image: url('../../images/background.jpg');

    .find-movie {
        margin: 50px 0 20px 0;
        text-transform: uppercase;
        color: $white;
        font-size: 20px;
        font-weight: normal;
    }

    .button-group {
        margin-top: 12px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: baseline;

        .filter-buttons {
            display: inline-flex;
            align-items: baseline;

            .filter-button,
            .search-by {
                margin-right: 15px;
            }

            .search-by {
                color: $white;
                font-size: 14px;
                text-transform: uppercase;
            }
        }
    }
}