@import '../../styles/generic_styles.scss';

$footer-height: 45px;
$footer-padding-top: 10px;

.footer {
    width: 100%;
    height: $footer-height;
    padding-top: $footer-padding-top;
    padding-left: $content-padding;
    box-sizing: border-box;
    background-color: $dark-grey;
}