@import './styles/generic_styles.scss';
html,
body,
#root,
.app {
    height: 100%;
    margin: 0;
}

body {
    word-wrap: break-word;
    font-family: 'Helvetica';
    margin: 0;
}

.not-found {
    margin: 0;
    padding: 80px 30px;
}

.content-wrapper {
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: $footer-height; /* equals to footer height */
}

.app {
    max-width: $content-width;
    margin: 0 auto;
}

.footer {
    height: $footer-height;
    margin-top: -$footer-height;
}