@import './styles/generic_styles.scss';

body {
    word-wrap: break-word;
    min-width: 290px;
    font-family: 'Helvetica';
    margin: 0;
}

.app {
    max-width: $content-max-width;
    color: rebeccapurple;
    margin: 0 auto;
}